/* ----------------------- Templates ----------------------- */

$colors: (
    primary: #00B800,
    danger: #F00
);

@function color($type) {
    @return map-get($colors, $type)
};

%headerTemplate {
    height: 100%;
    min-height: 100vh;

    display: grid;
    grid-template-rows: 90px auto 90px;
    grid-gap: 20px;

    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/bg.jpg);
    background-repeat: repeat, repeat;
    background-size: cover, cover;
           
    >header#pc {
        height: 100%;
        padding: 25px 25px;

        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;

        >figure {
            margin: 0;
            a {
                display: block;
                height: 100%;
                img {
                    width: 171.844px;
                }
            }
        }
        
        nav#menus {
            flex-grow: 20;
            padding-left: 25px;

            a {
                margin-right: 25px;
                color: white;
                text-decoration: none;

                h3{
                    margin: 0;
                }
            }
            a:hover{
                color: lighten(color(primary), 10%);
            }
        }

        section#user {
            display: flex;
            flex-flow: column wrap;
            align-items: flex-end;
            
            font-size: .8em;
            color: rgb(255, 255, 255);
            height: 100%;

            div{
                height: 20px;
            }
        }
        button {
            &:hover {
                background-color: lighten(color(danger),5%);
            }
            margin-left: 25px;
            width: 60px;
            height: 34px;
            border-radius: 4px;

            background-color: darken(color(danger),25%);
            border: none;
            
            a {
                font-weight: bold;
                display: block;
                margin: 0;
                padding: 0;
                width: 100%;
                line-height: 32px;
                
                color: white;
                text-decoration: none;
            }
        }
    
    }
    >header#mobile{
        height: 100%;
        padding: 0 25px;

        display: none;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;

        >figure {
            margin: 0;
            a {
                display: block;
                height: 100%;
                img {
                    width: 171.844px;
                }
            }
        }
    }
    @media (max-width: 768px) {
        >header#pc {
            display: none;
        }
        >header#mobile{
            display: flex;
        }
    }
};

/* ----------------------- global ----------------------- */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

.material-icons.md-light {
     color: rgba(255, 255, 255, 1); 
}

.mhere{
    color: color(primary) !important;
}

::selection {
    background-color: color(primary);
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 100%;
    min-height: 100vh;
    margin: 0;
}

h1, h2, h3, h4 {
    margin: 0 0 10px 0;
    display: inline-block;
    font-weight: 400;
}

.sucess {
    position: absolute;
    left: 50%;
    top: -999px;
    width: auto;
    padding: 5px;

    color: white;
    text-align: center;
    border-radius: 5px;
    background-color: color(primary);
    animation: fadeInNOut 2s ease forwards;

    @keyframes fadeInNOut {
        0%{top: -100px;}
        20%{top: 10px;}
        80%{top: 10px;}
        100%{top: -100px;}
    }
}

.fail {
    position: absolute;
    left: 50%;
    top: -999px;
    width: auto;
    padding: 5px;

    color: white;
    text-align: center;
    border-radius: 5px;
    background-color: color(danger);
    animation: fadeInNOut 2s ease forwards;

    @keyframes fadeInNOut {
        0%{top: -100px;}
        20%{top: 10px;}
        80%{top: 10px;}
        100%{top: -100px;}
    }
}

/* ----------------------- login.php ----------------------- */

main.login{
    height: 100%;

    display: grid;
    grid-template-rows: 90px auto 90px;
    grid-gap: 20px;

    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/bg.jpg);
    background-size: cover, cover;
            
    header {
        height: 100%;
        padding: 25px 25px;

        figure {
            margin: 0;
            height: 100%;
            img {
                width: 171.844px;
                height: 100%;
            }
        }
    }

    section {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;

        margin: 0;

        section {
            width: 100%;
            height: auto;
            max-width: 400px;
            padding: 40px;

            border-radius: 20px;
            background-color: rgba(0, 0, 0, 0.5);

            display: flex;
            flex-flow: column wrap;
            align-items: center;

            h1 {
                font-size: 2em;

                color: color(primary);
                align-self: start;
            }

            form {
                color: white;
                width: 100%;
                padding: 10px;

                input {
                    width: 100%;
                    height: 40px;
                    margin: 0 0 10px 0;
                    border: none;
                    border-radius: 5px;
                    text-align: center;
                    color: rgb(0, 0, 0);
                    font-weight: bold;
                    outline-color: color(primary);
                }

                h3 {
                    opacity: 0;
                    display: block;
                    font-size: .9em;
                    color: color(danger);
                    width: 100%;
                    transition: opacity .2s;
                }
                
                h4 {
                    display: block;
                    font-size: .9em;
                    color: color(danger);
                    width: 100%;
                }

                button {
                    margin: 10px 0 0 0;

                    width: 100%;
                    height: 40px;
                    color: white;
                    font-weight: bold;
                    background-color: color(primary);
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;

                }
            }
        }
        
    }

    footer{
        line-height: 70px;
        padding: 10px;

        color: white;
        font-weight: bold;
        text-align: right;
    }

    @media (max-width: 768px) {
        header {
            padding: 25px 0;
            figure {
                display:flex;
                justify-content: center;
            }
        }
        section {
            section {
                padding: 10px;
            }
        }


    }
}

/* ----------------------- index.php ----------------------- */

main.Home{
    @extend %headerTemplate;

    >section {
        padding: 0 10vw;
        color: white;

        display: flex;
        flex-flow: row wrap;
        align-content: flex-start;
        
        h1 {
            flex-basis: 100%;
            padding: 0 10px;
        }

        article {
            width: 320px;
            padding: 24px;
        }
    }

    @media (max-width: 400px) {
        >section {
            padding: 0;
        }
    }

}

/* ----------------------- create.php ----------------------- */

main.Create{
    @extend %headerTemplate;

    >section {
        padding: 0 10vw;
        color: white;
    }
}

/* ----------------------- update.php ----------------------- */

main.Update{
    @extend %headerTemplate;

    >section {
        padding: 0 10vw;
        color: white;
    }
}

/* ----------------------- movie.php ----------------------- */

main.Movie{
    @extend %headerTemplate;

    >section {
        padding: 0 10vw;
        color: white;

        height: 100%;
        display: flex;
        flex-flow: row wrap;
        align-content: flex-start;
        
        h1 {
            flex-basis: 100%;
        }

        figure {
            margin: 0 0 10px 0;
            flex: 1;
            img {
                min-width: 320px;
                width: 30vw;
            }
        }

        section {
            padding: 0 10px;
            flex: 3;
        }
    }
}