/* ----------------------- Templates ----------------------- */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
main.Home, main.Create, main.Update, main.Movie {
  height: 100%;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 90px auto 90px;
      grid-template-rows: 90px auto 90px;
  grid-gap: 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(img/bg.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/bg.jpg);
  background-repeat: repeat, repeat;
  background-size: cover, cover;
}

main.Home > header#pc, main.Create > header#pc, main.Update > header#pc, main.Movie > header#pc {
  height: 100%;
  padding: 25px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main.Home > header#pc > figure, main.Create > header#pc > figure, main.Update > header#pc > figure, main.Movie > header#pc > figure {
  margin: 0;
}

main.Home > header#pc > figure a, main.Create > header#pc > figure a, main.Update > header#pc > figure a, main.Movie > header#pc > figure a {
  display: block;
  height: 100%;
}

main.Home > header#pc > figure a img, main.Create > header#pc > figure a img, main.Update > header#pc > figure a img, main.Movie > header#pc > figure a img {
  width: 171.844px;
}

main.Home > header#pc nav#menus, main.Create > header#pc nav#menus, main.Update > header#pc nav#menus, main.Movie > header#pc nav#menus {
  -webkit-box-flex: 20;
      -ms-flex-positive: 20;
          flex-grow: 20;
  padding-left: 25px;
}

main.Home > header#pc nav#menus a, main.Create > header#pc nav#menus a, main.Update > header#pc nav#menus a, main.Movie > header#pc nav#menus a {
  margin-right: 25px;
  color: white;
  text-decoration: none;
}

main.Home > header#pc nav#menus a h3, main.Create > header#pc nav#menus a h3, main.Update > header#pc nav#menus a h3, main.Movie > header#pc nav#menus a h3 {
  margin: 0;
}

main.Home > header#pc nav#menus a:hover, main.Create > header#pc nav#menus a:hover, main.Update > header#pc nav#menus a:hover, main.Movie > header#pc nav#menus a:hover {
  color: #00eb00;
}

main.Home > header#pc section#user, main.Create > header#pc section#user, main.Update > header#pc section#user, main.Movie > header#pc section#user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: .8em;
  color: white;
  height: 100%;
}

main.Home > header#pc section#user div, main.Create > header#pc section#user div, main.Update > header#pc section#user div, main.Movie > header#pc section#user div {
  height: 20px;
}

main.Home > header#pc button, main.Create > header#pc button, main.Update > header#pc button, main.Movie > header#pc button {
  margin-left: 25px;
  width: 60px;
  height: 34px;
  border-radius: 4px;
  background-color: maroon;
  border: none;
}

main.Home > header#pc button:hover, main.Create > header#pc button:hover, main.Update > header#pc button:hover, main.Movie > header#pc button:hover {
  background-color: #ff1a1a;
}

main.Home > header#pc button a, main.Create > header#pc button a, main.Update > header#pc button a, main.Movie > header#pc button a {
  font-weight: bold;
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  line-height: 32px;
  color: white;
  text-decoration: none;
}

main.Home > header#mobile, main.Create > header#mobile, main.Update > header#mobile, main.Movie > header#mobile {
  height: 100%;
  padding: 0 25px;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main.Home > header#mobile > figure, main.Create > header#mobile > figure, main.Update > header#mobile > figure, main.Movie > header#mobile > figure {
  margin: 0;
}

main.Home > header#mobile > figure a, main.Create > header#mobile > figure a, main.Update > header#mobile > figure a, main.Movie > header#mobile > figure a {
  display: block;
  height: 100%;
}

main.Home > header#mobile > figure a img, main.Create > header#mobile > figure a img, main.Update > header#mobile > figure a img, main.Movie > header#mobile > figure a img {
  width: 171.844px;
}

@media (max-width: 768px) {
  main.Home > header#pc, main.Create > header#pc, main.Update > header#pc, main.Movie > header#pc {
    display: none;
  }
  main.Home > header#mobile, main.Create > header#mobile, main.Update > header#mobile, main.Movie > header#mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/* ----------------------- global ----------------------- */
.material-icons.md-light {
  color: white;
}

.mhere {
  color: #00B800 !important;
}

::-moz-selection {
  background-color: #00B800;
}

::selection {
  background-color: #00B800;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  height: 100%;
  min-height: 100vh;
  margin: 0;
}

h1, h2, h3, h4 {
  margin: 0 0 10px 0;
  display: inline-block;
  font-weight: 400;
}

.sucess {
  position: absolute;
  left: 50%;
  top: -999px;
  width: auto;
  padding: 5px;
  color: white;
  text-align: center;
  border-radius: 5px;
  background-color: #00B800;
  -webkit-animation: fadeInNOut 2s ease forwards;
          animation: fadeInNOut 2s ease forwards;
}

@-webkit-keyframes fadeInNOut {
  0% {
    top: -100px;
  }
  20% {
    top: 10px;
  }
  80% {
    top: 10px;
  }
  100% {
    top: -100px;
  }
}

@keyframes fadeInNOut {
  0% {
    top: -100px;
  }
  20% {
    top: 10px;
  }
  80% {
    top: 10px;
  }
  100% {
    top: -100px;
  }
}

.fail {
  position: absolute;
  left: 50%;
  top: -999px;
  width: auto;
  padding: 5px;
  color: white;
  text-align: center;
  border-radius: 5px;
  background-color: #F00;
  -webkit-animation: fadeInNOut 2s ease forwards;
          animation: fadeInNOut 2s ease forwards;
}

@keyframes fadeInNOut {
  0% {
    top: -100px;
  }
  20% {
    top: 10px;
  }
  80% {
    top: 10px;
  }
  100% {
    top: -100px;
  }
}

/* ----------------------- login.php ----------------------- */
main.login {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 90px auto 90px;
      grid-template-rows: 90px auto 90px;
  grid-gap: 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(img/bg.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/bg.jpg);
  background-size: cover, cover;
}

main.login header {
  height: 100%;
  padding: 25px 25px;
}

main.login header figure {
  margin: 0;
  height: 100%;
}

main.login header figure img {
  width: 171.844px;
  height: 100%;
}

main.login section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

main.login section section {
  width: 100%;
  height: auto;
  max-width: 400px;
  padding: 40px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main.login section section h1 {
  font-size: 2em;
  color: #00B800;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

main.login section section form {
  color: white;
  width: 100%;
  padding: 10px;
}

main.login section section form input {
  width: 100%;
  height: 40px;
  margin: 0 0 10px 0;
  border: none;
  border-radius: 5px;
  text-align: center;
  color: black;
  font-weight: bold;
  outline-color: #00B800;
}

main.login section section form h3 {
  opacity: 0;
  display: block;
  font-size: .9em;
  color: #F00;
  width: 100%;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

main.login section section form h4 {
  display: block;
  font-size: .9em;
  color: #F00;
  width: 100%;
}

main.login section section form button {
  margin: 10px 0 0 0;
  width: 100%;
  height: 40px;
  color: white;
  font-weight: bold;
  background-color: #00B800;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

main.login footer {
  line-height: 70px;
  padding: 10px;
  color: white;
  font-weight: bold;
  text-align: right;
}

@media (max-width: 768px) {
  main.login header {
    padding: 25px 0;
  }
  main.login header figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main.login section section {
    padding: 10px;
  }
}

/* ----------------------- index.php ----------------------- */
main.Home > section {
  padding: 0 10vw;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

main.Home > section h1 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 0 10px;
}

main.Home > section article {
  width: 320px;
  padding: 24px;
}

@media (max-width: 400px) {
  main.Home > section {
    padding: 0;
  }
}

/* ----------------------- create.php ----------------------- */
main.Create > section {
  padding: 0 10vw;
  color: white;
}

/* ----------------------- update.php ----------------------- */
main.Update > section {
  padding: 0 10vw;
  color: white;
}

/* ----------------------- movie.php ----------------------- */
main.Movie > section {
  padding: 0 10vw;
  color: white;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

main.Movie > section h1 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

main.Movie > section figure {
  margin: 0 0 10px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

main.Movie > section figure img {
  min-width: 320px;
  width: 30vw;
}

main.Movie > section section {
  padding: 0 10px;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}
/*# sourceMappingURL=main.css.map */